{% load static %}

<html>
    <head>
        <title> 식당 예약 사이트 </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        {% include 'partial/header.html' %}

        <div class="cards">
            {% for place in places %}
                <div class="room_card">
                    <h2>{{place.name}}</h2>
                    <h4>{{place.description}}</h4>
                    <h4>{{place.address}}</h4>
                </div>
            {% endfor %}
        </div>
        {% include 'partial/footer.html' %}
    </body>
</html>